[Unit]
Description=Beta bot
After=multi-user.target

[Service]
WorkingDirectory=/OpenAI/
Type=idle
ExecStart=python3 /OpenAI/main_beta.py
Restart=always

[Install]
WantedBy=multi-user.target